
<h1>This is a new sessions page</h1>

<%= form_for @user, url: sessions_path, class: "form" do |f| %>
	<%= f.text_field :username, placeholder: "username", class: "form-control"%>
	<%= password_field_tag :pasword, nil, class: "form-control", placeholder: "password" %>
	<%= f.submit "Log In", class: "btn btn-primary"%>
<% end %>