<div class="row">
  <%= @user.name %>
  <h2>Points: <%= @user.points %></h2>
</div>

<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Challenge</th>
        <th>Join</th>
      </tr>
    </thead>
    <tbody>
      <% @challenges.each do |c| %>
      <tr>
        <td><%= link_to c.title, challenge_path(c) %></td>
        <% if @user.challenges.include? c %>
          <td><button class="btn btn-primary" disabled="disabled">Joined</button></td>      
        <% else %>
          <td><%= render partial: "memberships/join", locals: {challenge: c} %></td>      
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>