<html>
<head>
    <title>Testing FourSquare</title>
    <link rel="stylesheet" href="square.css" type="text/css" media="screen" />
<style>
 
body {
    width: 660px;
    background: #339966;
    display: block;
    margin: 10px auto;
}
#foursquare {
    background: #F0F0F0;
    width: 640px;
    height: auto;
    margin: auto;
    padding: 1px;
    display: block;
    position: absolute;
    border-radius: 15px;
}
    #topleft {
        background: #747171;
        width: 300px;
        height: 300px;
        margin: 10px;
        display: block;
        float: left;
        border-radius: 15px;    
    }
    #topright {
        background: #747171;
        width: 300px;
        height: 300px;
        margin: 10px;
        display: block;
        float: left;
        border-radius: 15px;    
    }
    #bottomleft {
        background: #747171;
        width: 300px;
        height: 300px;
        margin: 10px;
        display: block;
        float: left;
        clear: left;
        border-radius: 15px;    
    }
    #bottomright {
        background: #747171;
        width: 300px;
        height: 300px;
        margin: 10px;
        display: block;
        float: left;
        border-radius: 15px;    
    }
 
 
</style>
</head>
 
<body>
 
    <div id="foursquare">
        <div id="topleft">
        	<a><img src="images/green_business_graph.png" alt="image" width="280" height="280"/></a>
        </div>
        <div id="topright">
        	<a><img src="images/green_business_graph.png" alt="image" width="280" height="280"/></a>
        </div>
        <div id="bottomleft">
        	<a><img src="images/green_business_graph.png" alt="image" width="280" height="280"/></a>
        </div>
        <div id="bottomright">
        	<a><img src="images/green_business_graph.png" alt="image" width="280" height="280"/></a>
        </div>
    </div>
</body>
</html>