@import "bootstrap/mixins";
// Place all the styles related to the Competitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.timeline {
  position: relative;
  padding: 15px 0;
  
  &.next-steps {
    padding-top: 0;
  }
  
  &.recent-activity {
    padding:0;
  }
  
  &::before {
    position: absolute;
    top: 0; left: 50%; bottom: 0;
    width: 4px;
    margin-left: -2px;
    content: "";
    z-index: 0;
    background-color: #999;
  }
  
  
  .timeline-score {
    position: relative;
    @include clearfix();
    margin: 0 0 30px;
    
    .timeline-icon {
      position: absolute;
      width: 100px;
      height: 100px;
      left: 50%;
      background: white;
      border-radius: 50%;
      text-align: center;
      line-height: 94px;
      font-size: 1.2em;
      border: 3px solid black;
      box-sizing: border-box;
      margin-left: -50px;
      font-size: 2em;
    }
    
    .timeline-body {
      float: left;
      position: relative;
      height: 100px;
      box-sizing: border-box;
      margin-left: 50%;
      padding-left: 75px;
      line-height: 100px;
      text-align: left;      
      border-radius: 3px;
      font-size: 2em;

    }
  }
  
  .timeline-item {
    position: relative;
    @include clearfix();
    margin: 15px 0;
    
    .timeline-date {
      position: absolute;
      right: 50%;
      left: 0;
      top: 50%;
      margin-top: -30px;
      margin-right: 35px;
      line-height: 60px;
      text-align: right;
    }
    
    .timeline-icon {
      position: absolute;
      width: 40px;
      height: 40px;
      left: 50%;
      background: white;
      border-radius: 50%;
      text-align: center;
      line-height: 34px;
      font-size: 1.2em;
      border: 3px solid black;
      box-sizing: border-box;
      margin-left: -20px;
    }
    
    .timeline-body {
      float: left;
      margin-left: 50%;
      
      .timeline-popover {
        margin-left: 35px;
        padding: 10px;
        position: relative;
        text-align: left;      
        background: #c8c9cc;
        border-radius: 3px;
      }
    }
  }
}


.arrow {
  top: 50%;
  margin-top: -8px;
  border-width: 8px;
  z-index: 10;
  
  &, &::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
  
  &:after {
    border-width: 7px;
    content: "";
  }
  
  &.right {
    top: 50%;
    right: -8px;
    margin-top: -8px;
    border-right-width: 0;
    border-left-color: #c8c9cc;
    border-left-color: rgba(0,0,0,0.1);
    
    &::after {
      content: " ";
      right: 1px;
      border-right-width: 0;
      border-left-color: #c8c9cc;
      bottom: -7px;
    }
  }
  
  &.left {
    top: 50%;
    left: -8px;
    margin-top: -8px;
    border-left-width: 0;
    border-right-color: #c8c9cc;
    border-right-color: rgba(0,0,0,0.1);
    
    &::after {
      content: " ";
      left: 1px;
      border-left-width: 0;
      border-right-color: #c8c9cc;
      bottom: -7px;
    }
  } 
}